<div class="profile_title">
<h1>  <%=@user.first_name%> <%=@user.last_name%> profile page </h1>
</div>
<div class="user_backed_projects">
<h3> <%=@user.first_name%> Backed Projects list</h3>
    <%sum = 0 %>
    <%@user.pledges.each do | pledge|%>
    <ul>
    <li>
        <p>project name: <%=pledge.project.title%> </p>
        Pledge amount: <%= pledge.dollar_amount  %>$
        <%sum += pledge.dollar_amount%>
    </li>
    </ul>
<%end %>
    <p><strong>Total pledge amount:</strong>  <%=sum %></p>
</div>
<div class="user_owned_projects">
    <h3> <%=@user.first_name%> owned project's </h3>
        <% @user.owned_projects.each do | project| %>
    <ul>
        <li><%= project.title %></li>
    </ul>
    <%end%>
</div>
